.location__title {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2vh; /* Ajusta según sea necesario */
  font-size: 2.5vw; /* Ajusta según sea necesario */
}

.location__resident {
  display: flex;
  flex-direction: row;
  gap: 2vw; /* Ajusta según sea necesario */
  margin-top: 2vh; /* Ajusta según sea necesario */
  margin-bottom: 5vh; /* Ajusta según sea necesario */
  border: 1px solid;
  padding: 2vh 3vw; /* Ajusta según sea necesario */
  color: white;
  background-color: #02b1c8;
  border-radius: 1vw; /* Ajusta según sea necesario */
  justify-content: center;
}

.location__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}



