.location__title {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2vh; 
  font-size: 2.5vw; 
}

.location__resident {
  display: flex;
  flex-direction: row;
  gap: 2vw; 
  margin-top: 2vh; 
  margin-bottom: 5vh; 
  border: 1px solid;
  padding: 2vh 3vw; 
  color: white;
  background-color: #02b1c8;
  border-radius: 1vw;
  justify-content: center;
}

.location__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .location__title {
  font-size: 5.5vw; 
  }
}




